body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
#header{
    margin-top: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}
#header ul{
    height: auto;
    margin: 0 auto ;
}
#box{
    width: 984px;
    height: 281px;
    margin: 459px auto;
}
#box1{
    background-color: #00AA88;
}
#box2{
    background-color: #00b3ee;
}
#box3{
    background-color: #00CC00;
}
#news{
    position: relative;
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
}
.point{
    width: 14px;
    height: 14px;
    margin: 0 auto 112px auto;
}
#service-num{
    margin: auto;
    padding-bottom: 30px;
    background-color:#07bc83;
    border-bottom: none;
    padding-top: 30px;
}
.service-num{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    color:white;
}
.col-xs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.box1{
    box-sizing: border-box;
    width:50%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
#product{
    position: relative;
    text-align: center;
    margin: auto;
    /*padding-bottom: 15px;*/
}
.box2{
    box-sizing: border-box;
    width:33%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
#service{
    text-align: center;
    background-color: #1c5373;
    margin: auto;
    /*padding-bottom: 15px;*/
    color: #ffffff;
}
#application{
    text-align: center;
    background-color: #1c5373;
    margin: auto;
    color: #ffffff;
    font-weight: bold;
}
#contact{
    text-align: center;
    margin: auto;
    color: #02b8bf;
    font-size: 24px!important;
    font-weight: 500;
}
.BG{
    background-color: rgba(87,135,162,0.4);
    margin: 16px 5px;
}
#box-news{
    margin: auto;
}
.box-news{
    float: left;
    padding-left: 6px!important;
    padding-right: 6px!important;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 12px;
    font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}
.icon{
    float:left;
    margin-top:auto;
    margin-right: 20px;
    margin-bottom:auto;
}
