<template name="aboutus">
    <style>
        .AboutUs {
            text-align: center;
            margin-top: 20px;
            /*margin-bottom: 20px;*/
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .about-box {
            text-align: left;
        }
    </style>
    <div id="AboutUs">
        <div>
            <img class="img-responsive" src="images/factory.png" alt="">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="AboutUs">
                        <h2>公司介绍</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <p>云南滇中恒达科技有限公司创建于2014年，</p>
                        <p>其母公司美国波士顿共形几何咨询公司</p>
                        <p>由丘成桐院士创建于2002年</p>
                        <p>在北京、青岛、杭州、广州台湾均有分支机构。</p>
                        <div class="col-md-offset-2 col-md-8 col-xs-12" style="margin-top: 40px;">
                            <img class="img-responsive" src="images/map.png" alt="">
                            <div class="col-xs-12">
                                <div class="col-md-4 col-xs-12">
                                    <div class="about-box">
                                        <div class="col-xs-12"
                                             style="padding-left: 0!important;padding-right: 0!important;">
                                            <img src="images/aboutus.png" alt="">
                                        </div>
                                        <p>
                                            公司具有世界一流水准的研发团队，致力于应用微分几何研究技术，进行高速和高分辨率三维成像和三维面形的研究分析，专注于三维几何的计算处理，包括曲面匹配、三维人脸识别、动态曲面跟踪、形状分析、表情模拟等计算方法。
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="about-box">
                                        <div class="col-xs-12"
                                             style="padding-left: 0!important;padding-right: 0!important;">
                                            <img src="images/aboutus.png" alt="">
                                        </div>
                                        <p>
                                            主营三维扫描、3D打印相关技术及产品的研发、生产、销售、咨询及配套服务。业务范围涵盖三维图像处理商业应用软件、动漫制作应用软件、电影产业应用软件、素描绘制应用软件、三维人脸识别应用软件、礼品制造及编织模式设计应用软件、机械制造业逆向工程应用软件的开发与应用等。
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="about-box">
                                        <div class="col-xs-12"
                                             style="padding-left: 0!important;padding-right: 0!important;">
                                            <img src="images/aboutus.png" alt="">
                                        </div>
                                        <p>
                                            公司还正致力于打造一个国内规模最大，覆盖面最广的3D信息互联网公共服务平台，涉及到教育、医疗、动漫娱乐、工业制造等多领域的3D数字信息与服务。逆向工程应用软件的开发与应用等。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="AboutUs">
                        <h2>创始人介绍</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-xs-12" style="background: #edeff1;padding-top: 20px;padding-bottom: 20px">
                            <div class="col-md-offset-2 col-md-8 col-xs-12">
                                <div class="col-md-6 col-xs-12">
                                    <img class="img-responsive" src="images/mrs-qiu.png" alt="">
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <p>创始人丘成桐院士是著名华裔数学家。以他的名字命名的卡拉比-丘流形，是物理学中弦理论的基本概念，对微分几何和数学物理的发展做出了重要贡献。1997年获美国
                                        “美国国家科学奖”，2003年获得中国政府授予的国际科技合作奖。现为哈佛大学数学系教授，普林斯顿高级研究院的终身教授，美国国家科学院院士，中国等国家科学院外籍院士。先后在中国科学院、清华大学、浙江大学、昆明理工大学、香港中文大学成立了数学研究中心。
                                        丘成桐囊括了菲尔兹奖（1982）、克拉福德奖（1994）、沃尔夫奖（2010）等奖项，特别是在1982年度荣获最高数学奖菲尔兹奖，是第一位获得这项被称为“数学界的诺贝尔奖”的华人，同时也是继陈省身后第二位获得沃尔夫数学奖的华人。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="AboutUs">
                        <h2>企业大事件</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-md-offset-2 col-md-8 col-xs-12">
                            <img class="img-responsive" src="images/big.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="AboutUs">
                        <h2>联系我们</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-md-5 col-xs-12"
                             style="background: #54a2d5;padding-right: 0!important;padding-left: 0!important;">

                        </div>
                        <div class="col-md-7 col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                            <img class="img-responsive" src="images/position.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="AboutUs">
                        <h2>企业招聘</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-xs-12 nostyle img-responsive" style="background-image: url('/images/joinus.png');height: 600px;margin-bottom: 40px;">
                                <div class="join-us" style="width: 190px;height: 64px;margin-top: 300px;margin-left: auto;margin-right: auto; background-color: #fff;text-align: center">
                                    <h3 style="padding-top: 24px"><a style="text-decoration:none;text-align: center" href="">加入我们</a></h3>
                                </div>
                        </div>
                        <!--<img class="img-responsive" src="images/joinus.png" alt="">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
