<template name="aboutUsLayout">
    <style>
        .AboutUs {
            text-align: center;
            margin-top: 20px;
            /*margin-bottom: 20px;*/
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .about-box {
            text-align: left;
        }
    </style>
    <div id="AboutUs">
        <div>
            <img class="img-responsive" src="images/factory.png" alt="">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="AboutUs">
                        <h2>{{_ 'Aboutus.h2.Introduction'}}</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <p>{{_ 'Aboutus.Introduction.p1'}}</p>
                        <p>{{_ 'Aboutus.Introduction.p2'}}</p>
                        <p>{{_ 'Aboutus.Introduction.p3'}}</p>
                        <p>{{_ 'Aboutus.Introduction.p4'}}</p>
                        <div class="col-md-offset-2 col-md-8 col-xs-12" style="margin-top: 40px;">
                            <img class="img-responsive" src="{{_ 'Aboutus.Introduction.map'}}" alt="">
                            <div class="col-xs-12">
                                <div class="col-md-4 col-xs-12">
                                    <div class="about-box">
                                        <div class="col-xs-12"
                                             style="padding-left: 0!important;padding-right: 0!important;">
                                            <img src="images/aboutus.png" alt="">
                                        </div>
                                        <p>
                                            {{_ 'Aboutus.Introduction.b1'}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="about-box">
                                        <div class="col-xs-12"
                                             style="padding-left: 0!important;padding-right: 0!important;">
                                            <img src="images/aboutus.png" alt="">
                                        </div>
                                        <p>
                                            {{_ 'Aboutus.Introduction.b2'}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="about-box">
                                        <div class="col-xs-12"
                                             style="padding-left: 0!important;padding-right: 0!important;">
                                            <img src="images/aboutus.png" alt="">
                                        </div>
                                        <p>
                                            {{_ 'Aboutus.Introduction.b3'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="AboutUs">
                        <h2>{{_ 'Aboutus.h2.Founder'}}</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-xs-12" style="background: #edeff1;padding-top: 20px;padding-bottom: 20px">
                            <div class="col-md-offset-2 col-md-8 col-xs-12">
                                <div class="col-md-6 col-xs-12">
                                    <img class="img-responsive" src="images/mrs-qiu.png" alt="">
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <p>
                                        {{_ 'Aboutus.Founder.Yau'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="AboutUs">
                        <h2>{{_ 'Aboutus.h2.Event'}}</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-md-offset-2 col-md-8 col-xs-12">
                            <img class="img-responsive" src="images/big.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="AboutUs">
                        <h2>{{_ 'Aboutus.h2.Us'}}</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-md-5 col-xs-12"
                             style="background: #54a2d5;padding-right: 0!important;padding-left: 0!important;">

                        </div>
                        <div class="col-md-7 col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                            <img class="img-responsive" src="images/position.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right: 0!important;padding-left: 0!important;">
                    <div class="AboutUs">
                        <h2>{{_ 'Aboutus.h2.HR'}}</h2>
                        <div class="col-xs-12">
                            <img src="images/aboutus.png" alt="">
                        </div>
                        <div class="col-xs-12 nostyle img-responsive" style="background-image: url('/images/joinus.png');height: 600px;margin-bottom: 40px;">
                                <div class="join-us" style="width: 190px;height: 64px;margin-top: 300px;margin-left: auto;margin-right: auto; background-color: #fff;text-align: center">
                                    <h3 style="padding-top: 24px"><a style="text-decoration:none;text-align: center" href="">加入我们</a></h3>
                                </div>
                        </div>
                        <!--<img class="img-responsive" src="images/joinus.png" alt="">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
