<template name="customerServiceTWLayout">
    <div id="customerService-TW">
        <div class="container-fruid">
            <div class="row nostyle">
                <div class="col-md-offset-1 col-md-10" style="margin-top: 50px;margin-bottom: 70px">
                    <div class="col-md-2 col-xs-4" style="text-align: center;padding-bottom: 115px">
                        <img src="images/lefttop.png"/>
                        <h4><a href="/">Back</a></h4>
                    </div>
                    <div class="col-md-offset-8 col-md-2 col-xs-offset-4 col-xs-4" style="text-align: center">
                        <span class="glyphicon glyphicon-home"><a href="/customerService-TW"><h4>客户服务</h4></a></span>
                    </div>
                    <div class="col-xs-12">
                        <img src="images/service-TW01.png" alt="">
                    </div>
                    <div class="col-xs-12" style="padding-top: 130px;padding-bottom: 130px">
                        <img src="images/service-TW02.png" alt="">
                    </div>
                    <div class="col-xs-12">
                        <img src="images/service-TW03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>