<template name="newinformation">
    <style>
        .nostyle{
            padding: 0px;
            margin: 0px;
        }
        #productwhere{
            text-align: right;
            color: #273e80;
            line-height: 35px;
            font-family: 微软雅黑;
        }
        #paging{
            text-align: right;
        }
    </style>
    <div class="container-fruid nostyle">
        <div class="row nostyle">
            <div class="col-md-2 col-sm-1 hidden-xs "  ></div>
            <div class="col-md-9 col-sm-10 col-xs-12 " >
                <div class="row nostyle">
                    <div class="col-xs-11 nostyle" id="productwhere">
                        <span class="glyphicon glyphicon-home"></span> 产品中心
                        <span class="glyphicon glyphicon-play"></span> 全部产品
                    </div>
                </div>
                {{>informationsList}}
                <div class="col-xs nostyle" id="paging">
                    <nav>
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="informationsList">
    {{#each  news}}
        {{> new}}
    {{else}}
        {{> noData}}
    {{/each}}
</template>


<template name="new">
    <style>
        .nostyle{
            padding: 0px;
            margin: 0px;
        }
        .informationp1{
            padding-top: 20px;
            padding-left: 5%;
            font-size: 18px;
            font-family: 微软雅黑;
        }
        .setpadding{
            padding-left: 10px;
        }
        .wordsize{
            font-size: 14px;
        }
        .informationp2{
            padding-top: 5px;
            padding-left: 5%;
            font-size: 14px;
            font-family: 微软雅黑;
        }
    </style>
    <div class="row nostyle" style="margin-top: 20px">
        <div class="col-md-6 nostyle ">
            {{#with getDoc picture 'Attachments'}}
                <img src="{{url}}" class="img-thumbnail img-rounded">
            {{/with}}
        </div>
        <div class="col-md-6 nostyle"  style="padding-bottom: 20px">
            <div class="row">
                <div class="col-md-12 ">
                    <p class="informationp1">{{title}}</p>
                </div>
            </div>
            <div class="row nostyle" style="margin-top: 30px">
                <div class="col-sm-1 col-xs-1"></div>
                <div class=" col-sm-1 col-xs-1 nostyle" style="text-align: right">
                    <img  src="/images/information2.png"/>
                </div>
                <div class=" col-sm-9 col-xs-9 setpadding nostyle wordsize">{{owner}}</div>
             </div>
            <div class="row nostyle" style="margin-top: 10px">
                <div class="col-sm-1 col-xs-1"></div>
                <div class="col-sm-1 col-xs-1 nostyle" style="text-align: right">
                    <img src="/images/information3.png"/>
                </div>
                <div class="col-sm-9 col-xs-9 setpadding nostyle wordsize" >{{createdAt}}</div>
             </div>
            <div class="row nostyle" style="margin-top: 10px">
                <div class="col-sm-1 col-xs-1"></div>
                <div class=" col-sm-1 col-xs-1 nostyle" style="text-align: right">
                    <img  src="/images/information4.png"/>
                </div>
                <div class=" col-sm-9 col-xs-9 setpadding nostyle wordsize">新闻动态</div>
            </div>
            <!--<div class="col-xs-12 nostyle" style="margin-top: 20px">-->
                <!--<p class="informationp2">{{describetion}}</p>-->
            <!--</div>-->
        </div>
    </div>
</template>
