<template name="partnerLayout">
    <div id="partner">
        <div class="container-fruid">
            <div class="row nostyle">
                <div class="col-md-offset-1 col-md-10" style="margin-top: 50px;margin-bottom: 70px">
                    <div class="col-md-2 col-xs-4" style="text-align: center;padding-bottom: 25px">
                        <img src="images/lefttop.png"/>
                        <h4><a href="/">Back</a></h4>
                    </div>
                    <div class="col-md-offset-8 col-md-2 col-xs-offset-4 col-xs-4" style="text-align: center">
                        <span class="glyphicon glyphicon-home"><a href="/partner"><h4>伙伴招募</h4></a></span>
                    </div>
                    <div class="col-xs-12">
                        <img src="images/08.png" alt="">
                    </div>
                    <div class="col-xs-12" style="letter-spacing: 6px;line-height: 20px;padding-bottom: 70px">
                        <p>台灣耀杰致力於推廣3D列印教學，</p>
                        <p>我們把即將改變未來的新技術放到這個實驗室 ,</p>
                        <p>並帶動高校學生參與學習、動手做 , 讓學生在畢業前就有能力</p>
                        <p>自己動手組裝3D印表機、機器人、無人機 ,並瞭解物聯網的基礎概念。</p>
                        <p>需要志同道合的你，加入我們的團隊。</p>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img src="images/05.png" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="images/06.png" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="images/07.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>