<template name="product">
    <style>
        .nostyle{
            margin: 0px;
            padding: 0px
        }
        #productwhere{
            text-align: right;
            color: #273e80;
            line-height: 35px;
            font-family: 微软雅黑;
        }
        .product1aw{
            height: 296px;
            margin-top: 5px;
            text-align: center;
        }
    </style>
    <div id="product">
        <div class="container-fruid">
            <div class="row nostyle">
                <div class="col-md-offset-2 col-md-8 col-sm-9 col-xs-12" >
                    <div class="col-xs-12 nostyle" id="productwhere">
                        <ol class="breadcrumb">
                            <li><span class="glyphicon glyphicon-home"><a href="#"><h4>产品中心</h4></a></span></li>
                            <li><span class="glyphicon glyphicon-play"><a href="#"><h4>全部产品</h4></a></span></li>
                        </ol>
                    </div>
                    <div class="row nostyle" style="margin-bottom: 15px" >
                        <div class="col-sm-7 nostyle">
                            <div class="row nostyle" id="onerowfirst" >
                                <div class="col-xs-12 nostyle" style="height: 298px;"  >
                                    <div style="margin-top: 10px"><h2>创意设计软件</h2></div>
                                    <div><h3>Tinkercad</h3></div>
                                    <div>了解更多》</div>
                                    <div><img src="/images/tinkercad.png"/></div>
                                </div>
                            </div>
                            <div class="row nostyle">
                                <div class="col-xs-6 nostyle" style="height: 298px;"  >
                                    <div style="margin-top: 10px"><h2>耗材</h2></div>
                                    <div><h3>PLA玉米淀粉提炼，无毒环保材料</h3></div>
                                    <div>了解更多》</div>
                                    <div><img src="/images/PLA.png"/></div>
                                </div>
                                <div class="col-xs-6 nostyle " style="height: 298px;"  >
                                    <div style="margin-top: 10px"><h2>工具配件组</h2></div>
                                    <div><h3>斜口钳、尖嘴钳、雕刻刀</h3></div>
                                    <div>了解更多》</div>
                                    <div><img src="/images/tool.png"/></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 nostyle " style="height: 596px;">
                            <div style="margin-top: 30px"><h2>GEO-3DP</h2></div>
                            <div><h3>别创新格 摩登靓颖</h3></div>
                            <div>了解更多》</div>
                            <div style="margin-top: 50px"><img src="/images/3DP.png"/></div>
                        </div>
                    </div>
                    <div class="row nostyle" style="margin-bottom: 15px" >
                        <div class="col-sm-5 nostyle " style="height: 596px;">
                            <div style="margin-top: 160px"><h2>GEO-GVX</h2></div>
                            <div><h3>精确扫描 完美呈现</h3></div>
                            <div>了解更多》</div>
                            <div style="margin-top: 20px"><img src="/images/gvx.png"/></div>
                        </div>
                        <div class="col-sm-7 nostyle">
                            <div class="row nostyle" >
                                <div class="col-xs-12 nostyle " style="height: 298px;" >
                                    <div class="row nostyle">
                                        <div class="col-xs-6 nostyle" >
                                            <div style="margin-top: 100px"><h2>支架</h2></div>
                                            <div><h3>安装简单 使用便利</h3></div>
                                            <div>了解更多》</div>
                                        </div>
                                        <div class="col-xs-6 nostyle img-responsive"><img src="/images/bracket.png"/></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row nostyle">
                                <div class="col-xs-6 nostyle" style="height: 298px;">
                                    <div style="margin-top: 10px"><h2>创意设计软件</h2></div>
                                    <div><h3>Meshmixer</h3></div>
                                    <div>了解更多》</div>
                                    <div><img src="/images/Meshmixer.png"/></div>
                                </div>
                                <div class="col-xs-6 nostyle "  style="height: 298px;" >
                                    <div style="margin-top: 10px"><h2>转盘</h2></div>
                                    <div><h3>功能简约 使用方便</h3></div>
                                    <div>了解更多》</div>
                                    <div style="margin-top: 30px"><img src="/images/turntable.png"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</template>
