<template name="supportTWLayout">
    <div id="support-TW">
        <div class="container-fruid">
            <div class="row nostyle">
                <div class="col-md-offset-1 col-md-10" style="margin-top: 50px;margin-bottom: 70px">
                    <div class="col-md-2 col-xs-4" style="text-align: center;padding-bottom: 115px">
                        <img src="images/lefttop.png"/>
                        <h4><a href="/">Back</a></h4>
                    </div>
                    <div class="col-md-offset-7 col-md-3 col-xs-offset-4 col-xs-4" style="text-align: center">
                        <ol class="breadcrumb" style="background-color: #ffffff">
                            <li><span class="glyphicon glyphicon-home" style="color: #00AA88"><a href="/customerService-TW"><h4>AI Maker Space</h4></a></span></li>
                            <li><span class="glyphicon glyphicon-play"><a href="/support-TW"><h4>技術支持</h4></a></span></li>
                        </ol>
                    </div>
                    <div class="col-xs-12">
                        <img src="images/service-TW01.png" alt="">
                    </div>
                    <div class="col-xs-12" style="padding-top: 130px;padding-bottom: 130px">
                        <img src="images/service-TW02.png" alt="">
                    </div>
                    <div class="col-xs-12">
                        <img src="images/service-TW03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>